.about {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
    height: 100%;
    width: 100vw;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    line-height: 150%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        ". img ."
        " me me . "
        " . list1 list1"
        " skill skill ."
        " . soft soft";
    position: relative;
}

.float_resume {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 500;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
    background-image: -webkit-linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
    background-size: 200% auto;
    transition: 0.5s;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
}

.float_resume:hover {
    background-position: right center;
}

.about__cvlink {
    color: white !important;
    font-weight: 800;
    cursor: pointer !important;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about__cvlink:hover {
    color: black !important;
}

.about>img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    transition: all 1s;
    cursor: pointer;
}

/* .about>img:hover {
    animation: changeImage 5s infinite linear;
}

@keyframes changeImage {
    0% {
       filter: ;
    }
    100% {
       transform: translateX(0vh);
    }
} */


.about__img {
    grid-area: img;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid silver;
    object-fit: cover;
    justify-self: center;
}

.about__img:hover {
    box-shadow: 0px 0px 30px rgba(62, 65, 221, 1);
    -moz-box-shadow: 0px 0px 30px rgba(62, 65, 221, 1);
    -webkit-box-shadow: 0px 0px 30px rgba(62, 65, 221, 1);
}

.about__me {
    grid-area: me;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}

.about h3 {
    text-align: center;
    color: white;
    padding: 10px 0px;
    font-size: x-large;
}

.aboutMe {
    text-align: center;
    width: 50vw;
    font-size: larger;
    color: whitesmoke;
    background-color: rgba(32, 0, 64, 0.9);
    padding: 10px 0px;
    border-radius: 10px;
}

.about__l {
    grid-area: list1;
    align-self: center;
    justify-self: center;
    text-align: left;
}

.firstL {
    text-align: center;
    width: 50vw;
    font-size: larger;
    background-color: rgba(32, 0, 64, 0.9);
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
}

ul {
    color: whitesmoke;
    list-style-type: none;
    line-height: 150%;
}


.firstLetter {
    font-size: x-large;
    font-weight: 600;
}

.skill {
    grid-area: skill;
    align-self: center;
    justify-self: center;
    width: 50vw;
}

.all-ball {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(32, 0, 64, 0.9);
    border-radius: 10px;
}

.ball {
    border-radius: 50%;
    border: 5px solid lightgray;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
    width: 120px;
    height: 120px;
    opacity: 0.5;
    text-align: center;
    color: white;
    padding-top: 45px;
    background-color: #2a2a72;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -webkit-transition: all 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.all-ball>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 0;
    margin: 0;
}

.ball:hover {
    background-color: #2a2a72;
    background-image: linear-gradient(to right bottom, #009ffd 25%, #2a2a72 75%);
    background-image: -ms-linear-gradient(to right bottom, #009ffd 25%, #2a2a72 75%);
    background-image: -webkit-linear-gradient(to right bottom, #009ffd 25%, #2a2a72 75%);
    border: 0px solid lightgray;
    opacity: 1;
    transform: scale(1);
    cursor: pointer;
}

.soft__skill {
    grid-area: soft;
    align-self: center;
    justify-self: center;
    margin-bottom: 100px;
}

.secondL {
    text-align: center;
    width: 50vw;
    font-size: larger;
    background-color: rgba(32, 0, 64, 0.9);
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
    line-height: 150%;
}

ol {
    color: whitesmoke;
    list-style-type: none;
}

/* media query */

@media (min-width: 768px) and (max-width: 1024px) {
    .float_resume {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }

    .about__me {
        margin-top: 40px;
    }

    .about img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .about h3 {
        text-align: center;
        padding: 10px 0px;
        font-size: large;
        font-weight: 800;
    }

    .aboutMe {
        font-size: small;
    }

    .firstL {
        font-size: small;
    }

    .firstLetter {
        font-size: large;
        font-weight: 600;
    }

    .ball {
        border: 2px solid lightgray;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        width: 80px;
        height: 80px;
        opacity: 0.6;
        text-align: center;
        color: white;
        padding-top: 25px;
    }

    .all-ball>p {
        font-size: small;
    }

    .secondL {
        font-size: small;
    }

    .soft__skill {
        margin-bottom: 40px;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .about img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .about h3 {
        text-align: center;
        padding: 10px 0px;
        font-size: large;
        font-weight: 800;
    }

    .aboutMe {
        font-size: small;
    }

    .firstL {
        font-size: small;
    }

    .firstLetter {
        font-size: large;
        font-weight: 600;
    }

    .ball {
        border: 2px solid lightgray;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        width: 80px;
        height: 80px;
        opacity: 0.6;
        text-align: center;
        color: white;
        padding-top: 25px;
    }

    .secondL {
        font-size: small;
    }

    .soft__skill {
        margin-bottom: 40px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .float_resume {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }

    .about__me {
        margin-top: 40px;
    }

    .about img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .about h3 {
        text-align: center;
        padding: 10px 0px;
        font-size: large;
        font-weight: 800;
    }

    .aboutMe {
        font-size: small;
    }

    .firstL {
        font-size: small;
    }

    .firstLetter {
        font-size: 15px;
        font-weight: 600;
    }

    .ball {
        border: 2px solid lightgray;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        width: 80px;
        height: 80px;
        opacity: 0.6;
        text-align: center;
        color: white;
        padding-top: 25px;
    }

    .all-ball>p {
        font-size: small;
    }

    .secondL {
        font-size: small;
    }

    .soft__skill {
        margin-bottom: 40px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .float_resume {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }

    .about__me {
        margin-top: 40px;
    }

    .about img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .about h3 {
        text-align: center;
        padding: 10px 0px;
        font-size: small;
    }

    .aboutMe {
        font-size: small;
    }

    .firstL {
        font-size: small;
    }

    .firstLetter {
        font-size: 15px;
        font-weight: 600;
    }

    .ball {
        border: 2px solid lightgray;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        width: 80px;
        height: 80px;
        opacity: 0.6;
        text-align: center;
        color: white;
        padding-top: 25px;
    }

    .all-ball>p {
        font-size: small;
    }

    .secondL {
        font-size: small;
    }

    .soft__skill {
        margin-bottom: 40px;
    }

}
