.form {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-areas: "info form form";
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgba(32,0,64,0.9); */
    background-image: linear-gradient(360deg, rgba(32, 0, 64, 0.9) 60%, rgba(0, 0, 0, 1));
}

.particles__contact {
    position: absolute;
    height: 80vh;
    width: 100%;
    z-index: -1;
}


.form-text {
    grid-area: info;
    color: white;
    background-color: rgba(62, 65, 221, 0.2);
    box-shadow: -5px 5px 5px rgba(62, 65, 221, 0.3);
    padding: 20px;
    border-radius: 15px;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
}

.form-text:hover {
    box-shadow: -10px 10px 5px rgba(62, 65, 221, 0.1);
    transform: translate(10px, -10px);
    -webkit-transform: translate(10px, -10px);
}

.form-text h3 {
    text-align: center;
}

.gradient-text {
    margin-bottom: 20px;
}

.adress {
    margin-bottom: 10px;
}

.adress p {
    padding-top: 5px;
    padding-left: 10px;
}

.call {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.call a {
    text-decoration: none;
    color: #0072ff;
    padding-top: 5px;
    padding-left: 10px;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.support a {
    text-decoration: none;
    color: #0072ff;
    padding-top: 5px;
    padding-left: 10px;
}

.contact__form {
    grid-area: form;
    padding: 20px;
    color: whitesmoke;
    border-radius: 15px;
    background-color: rgba(62, 65, 221, 0.2);
    box-shadow: 5px 5px 5px rgba(62, 65, 221, 0.3);
    transition: all 2s;
    -webkit-transition: all 2s;
}

.contact__form:hover {
    box-shadow: 20px 20px 20px rgba(62, 65, 221, 0.1);
    transform: translate(-5px, -5px);
    -webkit-transform: translate(-5px, -5px);
}

/* style for form */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    background-color: rgba(250, 250, 250, 0.8);
    padding: 12px;
    border: 1px solid rgb(148, 145, 145);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input:active {
    border: 1px solid #2a2a72;
}

/* .form-control-file::-webkit-file-upload-button {
  background-image: linear-gradient(to right, #0072ff , #00c6ff  100%);
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 4px 6px;
  margin-top: 3px;
}

.form-control-file::file-upload-button {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 4px 6px;
  margin-top: 3px;
} */


.btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.btn-grad {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%);
}

.btn-grad {
    padding: 10px 25px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    border-radius: 30px;
    border: none;
    outline: none;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    display: none;
}

.alert>p {
    font-weight: 600;
    padding: 5px;
}



/* @media (min-width: 1025px) and (max-width: 1280px) {
    
} */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .form {
        display: grid;
        grid-template-areas: ". info info ."
            ". form form ."
        ;
        width: 100vw;
        height: 100%;
    }

    .form-text {
        box-shadow: none;
        transition: none;
        margin-bottom: 5px;
        -webkit-transition: none;
    }

    .contact__form {
        box-shadow: none;
        transition: none;
        -webkit-transition: none;
    }

    .form-text:hover {
        box-shadow: none;
        transform: none;
    }

    .contact__form:hover {
        box-shadow: none;
        transform: none;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .form {
        display: grid;
        grid-template-areas: ". info info ."
            ". form form ."
        ;
        width: 100vw;
        height: 100%;
    }

    .form-text {
        box-shadow: none;
        transition: none;
        margin-bottom: 5px;
        -webkit-transition: none;
    }

    .contact__form {
        box-shadow: none;
        transition: none;
        -webkit-transition: none;
    }

    .form-text:hover {
        box-shadow: none;
        transform: none;
    }

    .contact__form:hover {
        box-shadow: none;
        transform: none;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .form {
        display: grid;
        grid-template-areas: ". info info ."
            ". form form ."
        ;
        width: 100vw;
        height: 100%;
    }

    .particles__contact {
        position: absolute;
        height: 20vh;
        width: 100%;
        z-index: -1;
    }

    .form-text {
        font-size: x-small;
        box-shadow: none;
        padding: 5px 10px;
        border-radius: 15px;
        margin-bottom: 5px;
        margin-bottom: 5px;
        transition: none;
    }

    .form-text:hover {
        box-shadow: none;
        transform: none;
    }

    .contact__form {
        font-size: x-small;
        box-shadow: none;
        border-radius: 15px;
    }

    .contact__form:hover {
        box-shadow: none;
        transform: none;
    }


    .btn-grad {
        font-size: x-small;
        padding: 5px 15px;
        margin-left: 10px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: black;
        border-radius: 30px;
        border: none;
        outline: none;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .form {
        display: grid;
        grid-template-areas: ". info info ."
            ". form form ."
        ;
        width: 100vw;
        height: auto;
    }

    .particles__contact {
        position: absolute;
        height: 20vh;
        width: 100%;
        z-index: -1;
    }


    .form-text {
        font-size: x-small;
        box-shadow: none;
        padding: 5px;
        border-radius: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
        transition: none;
    }

    .form-text:hover {
        box-shadow: none;
        transform: none;
    }

    .contact__form {
        font-size: x-small;
        box-shadow: none;
        border-radius: 15px;
    }

    .contact__form:hover {
        box-shadow: none;
        transform: none;
    }

    /* .form-control-file::-webkit-file-upload-button {
    font-size: x-small;
  } */

    .btn-grad {
        font-size: x-small;
        padding: 5px 15px;
        margin-left: 10px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: black;
        border-radius: 30px;
        border: none;
        outline: none;
    }

}