.cutomer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cutomer h1 {
    font-size: x-large;
    font-weight: 700;
    margin-top: 50px;
    color: white;
}

.soon {
    color: lightcoral;
}

.customer__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateX(0vw); */
}

.customer__container img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(62, 65, 221, 0.7);
    margin: 0px 20px;
    animation: example 30s linear infinite alternate;
}

@keyframes example {

    from {
        transform: translateX(100vw);
        -webkit-transform: translateX(100vw);
    }

    to {
        transform: translateX(-100vw);
        -webkit-transform: translateX(-100vw);
    }
}




@media (min-width: 768px) and (max-width: 1024px) {
    .cutomer h1 {
        font-size: large;
        font-weight: 700;
        margin-top: 20px;
    }

    .customer__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: translateX(0vw); */
    }

    .customer__container img {
        position: relative;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(62, 65, 221, 0.7);
        margin: 0px 8px;
        animation: example 30s linear infinite alternate;
    }


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .cutomer h1 {
        font-size: large;
        font-weight: 500;
        margin-top: 20px;
    }

    .customer__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: translateX(0vw); */
    }

    .customer__container img {
        position: relative;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(62, 65, 221, 0.7);
        margin: 0px 8px;
        animation: example 30s linear infinite alternate;
    }


}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {

    .cutomer h1 {
        font-size: small;
        font-weight: 600;
        margin-top: 20px;
    }

    .customer__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customer__container img {
        position: relative;
        width: 250px;
        height: 120px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(62, 65, 221, 0.7);
        margin: 20px 5px;
        animation: example 30s linear infinite alternate;
    }

}