.header {
    background-image: linear-gradient(360deg, rgba(32, 0, 64, 0.9) 30%, rgba(0, 0, 0, 0.9));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    top: 0;
    z-index: 100;
}

.header__img {
    width: 50px;
    object-fit: contain;
    margin: 10px 20px;
}

.header__img img {
    aspect-ratio: attr(width) / attr(height);
    width: 100%;
    height: auto;
}

.header__img:hover {
    filter: drop-shadow(0px 0px 5px hsl(226, 98%, 56%));
}

.mobile__manu {
    display: none;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.header__link {
    font-size: large;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
    transition: transform 1s;
    overflow: hidden;
}

.header__link:hover {
    color: hsl(241, 66%, 59%);
}

.header__link:hover::after {
    content: '';
    width: 100%;
    border-bottom: 5px solid white;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    /* transform: translateX(-100%); */
    animation: move 0.5s linear forwards;
}

@keyframes move {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* Media Query */

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5vh;
    }

    .header__img {
        width: 50px;
        object-fit: contain;
        margin: 10px 20px;
    }

    .mobile__manu {
        display: block;
        margin: 10px 20px;
    }

    .header__nav {
        display: none;
        justify-content: space-around;
        width: 60%;
        transition: all 20s ease-in-out;
    }

    .mobile__header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        width: 100wh;
        background-color: rgba(32, 0, 64, 0.1);
        z-index: 100;
        animation: bounce 3s ease-in-out forwards;
        animation-iteration-count: 1;
        transform-origin: bottom;
        transition: all 0.3;
        transform: translateY(-100vh);
        overflow: hidden;
    }

    @keyframes bounce {
        0% {
            transform: translateY(-100vh);
        }

        50% {
            transform: translateY(5px);
        }

        75% {
            transform: translateY(-100px);
        }

        100% {
            transform: translateY(0);
        }
    }


    .header__link {
        font-size: medium;
        color: aliceblue;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5vh;
    }

    .header__img {
        width: 50px;
        object-fit: contain;
        margin: 10px 20px;
    }

    .mobile__manu {
        display: block;
        margin: 10px 20px;
    }

    .header__nav {
        display: none;
        justify-content: space-around;
        width: 60%;
        /* transition:all 1s ease-in-out; */
    }

    .mobile__header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        width: 100wh;
        background-color: rgba(32, 0, 64, 0.1);
        z-index: 100;
        animation: bounce 3s ease-in-out forwards; 
        animation-iteration-count: 1;
        transform-origin: bottom;
        transition: all 0.3s;
        transform: translateY(-100vh);
        overflow: hidden;
    }

    @keyframes bounce {
        0% {
            transform: translateY(-100vh);
        }

        50% {
            transform: translateY(5px);
        }

        75% {
            transform: translateY(-100px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .header__link {
        font-size: medium;
        color: aliceblue;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
    }
}